/* System pages */

.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 2.8rem 1.4rem;
}

/* Password Prompt */

.password-prompt input[type='password'] {
  height: auto !important; /* stylelint-disable-line declaration-no-important */
  margin-bottom: 1.4rem;
}
